In [ ]:
# Installing Kaggele
!pip install kaggle

In [ ]:
# Downloading Kaggle Dataset 
!kaggle datasets download najir0123/walmart-10k-sales-datasets

In [ ]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('walmart-10k-sales-datasets.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [ ]:
# import liabraries
import pandas as pd
df = pd.read_csv('Walmart.csv',encoding_errors='ignore')

# print pandas version
print(pd.__version__)

In [ ]:
# display top 10 rows
df.head(10)

In [ ]:
# Find how many rows and columns in data
df.shape

In [ ]:
# Describe Numeric Columns
df.describe()

In [ ]:
# Describe object Columns
df.describe(include=object)

In [ ]:
# Summary of Dataset
df.info()

In [ ]:
# find duplicate values
df[df.duplicated()]
df.duplicated().sum()

In [ ]:
# drop all duplicates
df.drop_duplicates(inplace=True)
df.duplicated().sum()

In [ ]:
# Find Null Values
df.isna().sum()

In [ ]:
# Dropping all null Values
df.dropna(inplace=True)
df.isna().sum()

In [ ]:
# Find Data Types of all Columns
df.dtypes

In [ ]:
df['unit_price'] = df['unit_price'].str.replace('$',"")
df['unit_price']

In [ ]:
# Change the Datatype of unit_price
df['unit_price'] = df['unit_price'].astype(float)
df.dtypes

In [ ]:
# change the datatype of date 
df['date'] = pd.to_datetime(df['date'])
df['time'] = pd.to_datetime(df['time'])
df.dtypes

In [ ]:
# Create Column of Total_Price
df['total_price'] = df['unit_price'] * df['quantity']
df

In [ ]:
# change all column name into loewer case
df.columns = df.columns.str.lower()
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'total_price'],
      dtype='object')

In [ ]:
#Create Connection with MySQL
import sqlalchemy as sal
engine = sal.create_engine("mysql+pymysql://root:joy00@localhost/walmart")
conn=engine.connect()
try:
    conn
    print("Connected to Mysql")

except:
    print("unable to connect")

Connected to Mysql

In [ ]:
#export dataset pyhon to MySql
df.to_sql(name='wal', con=conn , index=False, if_exists = 'append')

9969

In [ ]:
# Clean CSV file export
df.to_csv('Clean_Walmart.csv')